# Digital House - Trabajo Práctico Nº1
## Desafío 1. Análisis exploratorio de un dataset de precios de propiedades
Grupo Nª2
Alumnos:
* Alberto Paparelli
* André Song
* Marianela Riz
* Gloria Caravajal
* Franco Emanuel Rodriguez
* Iván Axel Schweizer

Objetivos:
* Efectuar una limpieza del dataset provisto. Particularmente, deberá diseñar estrategias para lidiar con los datos perdidos en ciertas variables.
* Realizar un análisis descriptivo de las principales variables.
* Crear nuevas columnas a partir de las características dadas que puedan tener valor
predictivo.

In [13]:
# Lo primero que hacemos es importar todas las librerias necesarias.
import pandas as pd

In [14]:
# Abrimos el dataset y hacemos un chequeo rápido para saber cantidad de registros y miramos la composición del mismo.
filename = "../dataset/properati.csv"
data = pd.read_csv(filename, on_bad_lines='skip')
display(data.sample(n=6)) 
print(f"(Cantidad de Filas, Cantidad de columnas) -> {data.shape}")

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
38920,38920,sell,house,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|,Argentina,Bs.As. G.B.A. Zona Norte,3427753.0,"-34.425087,-58.5796585",-34.425087,...,207.0,1254.980080,1521.739130,NaN,NaN,NaN,http://www.properati.com.ar/18mk1_venta_casa_t...,"MAO. Casa de estilo racionalista, desarrollad...",MAO. Muy buena casa en lote interno en el barr...,https://thumbs4.properati.com/5/Z1HKMxpnKRewTh...
66664,66664,sell,apartment,Ituzaingó,|Argentina|Corrientes|Ituzaingó|,Argentina,Corrientes,3433357.0,NaN,NaN,...,67.0,1550.000000,1550.000000,NaN,NaN,1.0,http://www.properati.com.ar/1ae5r_venta_depart...,En la zona sur de la ciudad de Ituzaingó a sol...,Excelente departamento de 3 ambientes a estren...,https://thumbs4.properati.com/6/StDVnqSTFBONCu...
62748,62748,sell,house,Hurlingham,|Argentina|Bs.As. G.B.A. Zona Oeste|Hurlingham|,Argentina,Bs.As. G.B.A. Zona Oeste,3433522.0,"-34.628323,-58.621781",-34.628323,...,120.0,NaN,1041.666667,NaN,4.0,NaN,http://www.properati.com.ar/1a7m6_venta_casa_h...,Corredor Responsable: Marcelo Trujillo - CUCIC...,"Apto Crédito Casa 4 Amb. Pileta, cochera.",https://thumbs4.properati.com/9/U2kxD3aoZlLt8z...
35077,35077,sell,apartment,Villa del Parque,|Argentina|Capital Federal|Villa del Parque|,Argentina,Capital Federal,3427455.0,"-34.600027,-58.48767",-34.600027,...,93.0,NaN,2129.032258,2.0,4.0,NaN,http://www.properati.com.ar/18dks_venta_depart...,Corredor Responsable: Juan Carlos Treco - CUCI...,Departamento 4 Amb Villa del Parque APTO CREDITO,https://thumbs4.properati.com/5/S-eL3HmGCMUlXV...
26755,26755,sell,house,Villa Ballester,|Argentina|Bs.As. G.B.A. Zona Norte|General Sa...,Argentina,Bs.As. G.B.A. Zona Norte,3427467.0,NaN,NaN,...,450.0,637.254902,866.666667,NaN,5.0,NaN,http://www.properati.com.ar/17rg6_venta_casa_g...,AMPLIA CASA 7 AMBIENTES PERFECTA UBICACIN ! PL...,GRAN CASA EN IMPORTANTE LOTE Y EXCELENTE UBICA...,https://thumbs4.properati.com/6/8VV8VNoLcDoJBq...
99297,99297,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,NaN,NaN,...,72.0,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1bmhd_venta_depart...,Sergio Villella Inmobiliaria presenta departam...,Paraguay 2200 - Venta departamento dos dormito...,https://thumbs4.properati.com/7/iWPHn1KqaYudZs...

(Cantidad de Filas, Cantidad de columnas) -> (121220, 26)

# TODO 
completar análisis de columnas: que columnas hay y que significan cada una.

Analizamos contenido de las columnas que creemos que pueden eliminarse.

In [15]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.operation.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['operation']).size().reset_index(name='count'))

Cantidad de registros con NaN: 0
Contamos cantidad de registros unicos:
  operation   count
0      sell  121220

Detalle de análisis de columnas:
* `operation` -> Vemos que no tiene NaNs y solo tiene la opción `sell`. Por este motivo la vamos a eliminar.

In [26]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.country_name.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['country_name']).size().reset_index(name='count'))

Cantidad de registros con NaN: 0
Contamos cantidad de registros unicos:
  country_name   count
0    Argentina  121220

In [28]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.state_name.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['state_name']).size().reset_index(name='count'))

Cantidad de registros con NaN: 0
Contamos cantidad de registros unicos:
                      state_name  count
0       Bs.As. G.B.A. Zona Norte  25560
1       Bs.As. G.B.A. Zona Oeste   9322
2         Bs.As. G.B.A. Zona Sur  13952
3   Buenos Aires Costa Atlántica  10006
4          Buenos Aires Interior   2291
5                Capital Federal  32316
6                      Catamarca     27
7                          Chaco     57
8                         Chubut    259
9                     Corrientes    583
10                       Córdoba  12069
11                    Entre Ríos    369
12                       Formosa     65
13                         Jujuy     26
14                      La Pampa    157
15                      La Rioja      4
16                       Mendoza    681
17                      Misiones    464
18                       Neuquén    733
19                     Río Negro    808
20                         Salta    278
21                      San Juan     40
22                      San Luis    252
23                    Santa Cruz     20
24                      Santa Fe  10172
25           Santiago Del Estero      4
26              Tierra Del Fuego     31
27                       Tucumán    674

In [27]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.place_name.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['place_name']).size().reset_index(name='count'))

Cantidad de registros con NaN: 23
Contamos cantidad de registros unicos:
                   place_name  count
0      Country Maschwitz Club      3
1                  los alamos      1
2                  9 de Abril      3
3                      Abasto    139
4         Abril Club de Campo     19
...                       ...    ...
1055              Yerba Buena    191
1056                   Zelaya      7
1057                   Zárate     15
1058    coordenadas 34.255511      1
1059                  Álvarez      1

[1060 rows x 2 columns]

Detalle de análisis de columnas:
* Podemos ver que las columnas `country_name`, `state_name` y `place_name` son equivalentes a `place_with_parent_names`. La columna place_name presenta 23 NaNs los cuales podemos obtener de place_with_parent_names ya que la misma esta completa sin presencia de NaNs, es por ello que decidimos eliminar las columnas individuales y quedarnos con el conjunto `place_with_parent_names`.

In [18]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.geonames_id.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['geonames_id']).size().reset_index(name='count'))

Cantidad de registros con NaN: 18717
Contamos cantidad de registros unicos:
     geonames_id  count
0      3427208.0      7
1      3427212.0      8
2      3427326.0    139
3      3427354.0     41
4      3427366.0     15
..           ...    ...
641    6693230.0     57
642    6942538.0     17
643    6942539.0     15
644    6942842.0      2
645    6948895.0      2

[646 rows x 2 columns]

Detalle de análisis de columnas:
* `geonames_id` -> Vemos que tiene un 15.44% de NaNs. No se a que hacen referencia los valores de esta columna.
* `lat-lon` es el conjunto de las columnas `lat` y `lon` -> Vemos que las tres tienen un 42,52% de NaNs. Representan la latitud y la longitud de la localidad de la propiedad, es por ello que decidimos eliminar la columna `lat-lon` y quedarnos con x e y.  

CONSULTA: en realidad no se si deberiamos eliminar lat-lon ya que podriamos hacer un grafico de dispersion con el fondo del mapa de ARG para ver cuan distribuido estan las propiedades o podemos representar esto y dsp eliminarlo?

# Porcentaje de valores nulos

In [ ]:
data.isnull().mean()*100

Unnamed: 0                     0.000000
operation                      0.000000
property_type                  0.000000
place_name                     0.018974
place_with_parent_names        0.000000
country_name                   0.000000
state_name                     0.000000
geonames_id                   15.440521
lat-lon                       42.525986
lat                           42.525986
lon                           42.525986
price                         16.837156
currency                      16.837981
price_aprox_local_currency    16.837156
price_aprox_usd               16.837156
surface_total_in_m2           32.443491
surface_covered_in_m2         16.422208
price_usd_per_m2              43.394654
price_per_m2                  27.686850
floor                         93.483749
rooms                         60.905791
expenses                      88.234615
properati_url                  0.000000
description                    0.001650
title                          0.000000
image_thumbnail                2.567233
dtype: float64